<div class="container">
    <h2><%= :month_num%></h2>
</div>
    <div class="col-9">  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Job Number</th>
            <th scope="col">Name</th>
            <th scope="col">DOC Amount</th>
           
          </tr>
        </thead>
          <tbody>
              <% @data.each do |datum| %>
                <tr>
                      <td><%= datum[:job_number] %></td>
                      <td><%= datum[:job_name] %></td>
                      <td><%= number_to_currency(datum[:amount]) %></td>
                    </tr>
              <% end %>
              <tr>
                <td></td>
                <td><strong>TOTAL</strong></td>
                <td><strong><%= number_to_currency(@sum) %></strong></td>
              </tr>
            </tbody>
      </table>
    </div>
 