<% if contract.errors.any? %>
    <% contract.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>

<%= form_with model: contract do |form| %>
    <div class="row g-3">
      <div class="col-2">
        <%= form.text_field :job_number ,class: "form-control", placeholder: "Job Number"%>
      </div>
       <div class="col-6">
        <%= form.text_field :job_name ,class: "form-control", placeholder: "Job Name"%>
      </div>
       <div class="col-2">
        <%= form.text_field :job_amount ,class: "form-control", placeholder: "Contract Amount"%>
      </div>
      <div class="col-2">
        <%= form.date_field :milestone_1_date ,class: "form-control", placeholder: "Contract Date"%>
      </div>
    </div>

  
 
  <div class="col-auto">
    <%= form.submit class: "btn btn-primary" %>
  </div> 
  
   <li><%= link_to "All Contracts", root_path %></li>
<% end %>