<div class="container">
    <h1>DOC</h1>



<%= form_with model: @contract do |form| %>

  <div class="row g-3">
          <div class="col-md-3">
            <%= form.select :month_num, options_for_select([
              ["Select Month", ""], 
              "January", 
              "February", 
              "March", 
              "April", 
              "May",
              "June",
              "July",
              "August",
              "September",
              "October",
              "November",
              "December"]), 
              {}, { class: "form-select form-select-sm" } %>           
          </div>



          <div class="col-md-3">
          <% current_year = Date.current.year %>
            <%= form.select :year_num, options_for_select([ 
              [(current_year)], 
              (current_year-1), 
              (current_year+1)]), 
             {}, { class: "form-select form-select-sm" } %>   
          </div>
          <div class="col-md-3">
           <%= form.submit 'View', class: "btn btn-success btn-sm" %>
          </div>
  </div>



<% end %>



    <%= render "doc"%>
 