<% if @contract.errors.any? %>
    <% @contract.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>
<div class="container">
    <h1>Milestones</h1>
    </div>
<%= form_with model: @contract do |form| %>
   
   
   <div class="container">
   
 
    <div class="row">     
      <div class="col-2">Job Number</div>
      <div class="col-3">Name</div>
      <div class="col-1">Order</div>
      <div class="col-1">Install</div>
      <div class="col-1">Final</div>  
    </div>
    <div class="row">
        <div class="col-2">
          <%= @contract.job_number %>
        </div>
        <div class="col-3">
          <%= @contract.job_name %>
        </div>
        <div class="col-1">
          <%= form.check_box :milestone_2_complete, class: "form-check" %>
        </div>
       <div class="col-1">
          <%= form.check_box :milestone_3_complete, class: "form-check" %>
        </div>
        <div class="col-1">
          <%= form.check_box :milestone_4_complete, class: "form-check" %>
        </div>
    </div>
      <div class="d-grid gap-2 d-md-block">
        <%= form.submit class: "btn btn-primary btn-sm" %>
        <%= link_to "Back", milestones_path, class: "btn btn-primary btn-sm" %>
      </div>
  </div>
   
 <% end %>