<h1>Contracts</h1>

<div class="row">
  <div class="col-9">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Job Number</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Contract Date</th>

        </tr>
      </thead>
        <tbody>

            <% @contracts.each do |contract| %>
                <tr>
                    <td><%= link_to contract.job_number,contract %></td>
                    <td><%= contract.job_name %></td>
                    <td><%= contract.job_amount %></td>
                    <td><%= contract.milestone_1_date %></td>
                </tr>
            <% end %>
            </tbody>
    </table>
    </div>
</div>



<%= link_to "New Contract", new_contract_path %>

