<h1>Contract</h1>

<li>
    <%= @contract.job_number %>
    <%= @contract.job_name %>
    <%= @contract.job_amount %>
    <%= @contract.milestone_1_date %>
</li>

<ul>
    <li><%= link_to "Edit", edit_contract_path(@contract) %></li>
    <li><%= link_to "Destroy", contract_path(@contract),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
    <li><%= link_to "All Contracts", root_path %></li>
</ul>


