<div class="container">
<% if salesman.errors.any? %>
    <% salesman.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>

<%= form_with model: salesman do |form| %>
    <div class="row g-3">
      <div class="col-2">
        <%= form.text_field :full_name ,class: "form-control", placeholder: "Salesman Name"%>
      </div>

       <div class="col-2">
        <%= form.text_field :sales_commission ,class: "form-control", placeholder: "Commission Percentage"%>
      </div>
    </div>

  
 
  <div class="col-auto">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div> 
  

<% end %>

</div>