<div class="container">
<h1>Salesmen</h1>

<div class="row">
  <div class="col-12">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Commission</th>
        
          <th scope="col">Contract Names</th>

        </tr>
      </thead>
        <tbody>

            <% @salesmen.each do |salesman| %>
                <tr>
                    <td><%= link_to salesman.full_name,salesman %></td>
                    <td><%= number_to_percentage(salesman.sales_commission, precision: 0) %></td>
                     <% salesman.contracts.each do |contract| %>
                     <td>Salesman: <%= salesman.full_name %> - <%=contract.job_name %></td>
                    <% end %>
                </tr>
            <% end %>
            </tbody>
    </table>
    </div>
</div>
<%= link_to "New Saleman", new_salesman_path(@salesman), :class=>"btn btn-primary btn-sm" %>
</div>